/* .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* *{
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    background-color: #f0f2f5;
} */
.h0{
    max-width: 1150px;
    position: relative;
    margin: auto;
}

.h1{
    position: absolute;
    /* left: 10%; */
    /* top: 85px; */
    top: 170px;
    width: 550px;
    
}
.h{
    font-size: 60px;
    margin-bottom: 5px;
    color: #E50914;
}
.pr{
    text-align: center;
    margin-top: -2px;
    font-size: 30px;
}
.main{
    position: relative;
    background-color: #ffff;
    width: 420px;
    height: 420px;
    /* left: 55%; */
    /* top: 20%; */
    top: 146px;
    /* margin: 10px; */
    margin-right: 0;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 9px rgb(184, 184, 184),
                -1px -1px 5px rgb(184, 184, 184);
}
.txt{
    margin: 10px;
    margin-top: 20px;
    padding: 20px;
    width: 85%;
    background-color: #ffff;
    outline: none;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    font-size: 15px; 
      
}
.txt:focus{
    border: 1px solid #f21818;
    box-shadow: 1px 1px 1px #f21818,
                -1px -1px 1px #f21818;
}
.login-btn{
    cursor: pointer;
    margin: 10px ;
    padding: 15px;
    width: 95%;
    border-radius: 5px;
    background-color: #E50914;
    color: #ffff;
    font-size: 20px;
    border: none;
    font-weight: bolder;
    transition: 170ms;
}

.login-btn:hover{
    transform: scale(1.007);
    background-color: #da0b0b;
    transition: 130ms;
}
.a-link{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    border-bottom: 1px solid rgb(184, 184, 184) ;
    margin: 20px;
    background: none;
}
.link{
    background: none;
    text-decoration: none;
    color: #000000;
}
.ca{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 95px;
    width: 50%;
    
    margin-bottom: 20px;
    padding: 15px;
    background-color: #42B72A;
    border-radius: 5px;
    cursor: pointer;
}
.ca:hover{
    background-color:  #36A420
}
.pca{
    text-decoration: none;
    background: none;
    color: #ffff;
    font-weight: bolder;
    font-size: 17px;
    
}


.show {
    
    display: block;
    transition: 0ms;
    /* opacity: 1; */
    margin-left : 30%;
    }
    
    .show.active {
    /* transform: translateY(100px) scale(0) rotateY(180deg); */
    transform: scale(0);
    opacity: 0;

    }

.popup { 
    
    display: none; 
}
.popup.open { display: block; }

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
    
    /* background-image: linear-gradient(red, green); */
    animation: expand 0.5s  ease-out forwards;
    background-image: linear-gradient( rgba(255,0,0,0), rgba(0,0,0,.5));
}
/* .popup .contents {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;

    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
} */